@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto);
body {
    font-family: "Roboto", sans-serif;
}
.panel-footer, .contact-buttons, #nav-row, nav, h1, h2, h3, h4, h5, h6, th, header, footer {
    font-family: "Gloria Hallelujah", sans-serif
}
.bg-img, .body-bg-img, .home-bg-img {
    background: url(/images/108a.jpg) no-repeat fixed;
    /*background: url(C:/Users/Sam/sspread.github.io/unit1_projects/images/108a.jpg) no-repeat fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 100% 0%;
}
#home {
    height: 100vh;
}
#tech, #culture, #projects, #contact {
    clear: both;
}
#tech .container-fluid, #culture .container-fluid, #projects .container-fluid {
    float: left;
    padding: 45px 30px;
}
.banner {
    height: 220px;
    position: relative;
}
.contact-buttons {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 7%;
    font-size: 120%;
}
.contact-buttons .col-sm-3 {
    width: auto;
}
.contact-buttons a:hover {
    color: #D6EBFF;
}
.frosty {
    -webkit-filter: contrast(90%) brightness(50%) blur(4px);
    -moz-filter: contrast(90%) brightness(50%) blur(4px);
    -o-filter: contrast(90%) brightness(50%) blur(4px);
    -ms-filter: contrast(90%) brightness(50%) blur(4px);
    filter: contrast(90%) brightness(50%) blur(4px);
    height: 100%;
}
.title {
    font-family: "Gloria Hallelujah", "Lucida Sans Unicode", sans-serif;
    position: relative;
    transform: translateY(-7%);
    top: 7%;
    padding-left: 10%;
    /*font-style: italic;*/
    letter-spacing: 2px;
    text-shadow: 0px -4px 12px #2E2E6C;
    color: #D6EBFF;
}
.subtitle {
    font-family: "Gloria Hallelujah", "Lucida Sans Unicode", sans-serif;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    padding-left: 10%;
    /*font-style: italic;*/
    letter-spacing: 2px;
    text-shadow: 0px 0px 17px #ffefff;
    color: #D6EBFF;
}
.title h1 {
    font-size: 63px;
    margin-top: 0;
}
.subtitle h1 {
    font-size: 48px;
    margin-top: 0;
}
.btn {
    color: #333;
    font-family: "Gloria Hallelujah", "Lucida Sans Unicode", sans-serif;
    margin-bottom: 10px;
    background-color: #D6EBFF;
}
.panel-heading a:hover {
    text-shadow: 3px 3px 5px #888;
}
.btn:focus {
    color: #333;
}
.btn:hover, .btn-default:hover {
    color: #333;
    background-color: #FFFF99;
    box-shadow: 0px 0px 15px #ffefff;
}
.col-sm-3 {
    text-align: center;
    font-size: 1.2em;
    color: #fff;
}
.col-sm-3 p {
    text-shadow: 0px 0px 5px #000;
}
#home .container-fluid {
    position: absolute;
    transform: translateY(8%);
    bottom: 8%;
    display: block;
    left: 0;
    right: 0;
}
.panel-title {
    font-size: 36px;
}
blockquote {
    margin-bottom: 0;
}
a:hover {
    text-decoration: none;
}
/*Affixed home nav*/

#home-nav.affix {
    position: fixed;
    top: 2px;
    transform: translateY(0);
    bottom: auto;
}
#home-nav.affix .btn-default {
    padding: 5px;
}
#home-nav.affix {
    opacity: .6;
}
#home-nav.affix:hover {
    opacity: .9;
}
#home-nav.affix p {
    display: none;
}
#home-nav {
    position: relative;
    z-index: 2;
}
#contact a {
    color: #FFFF99;
}
#contact a:hover {
    text-shadow: 0px 0px 5px #fff;
}
#collapser {
    display: none;
    position: absolute;
    right: 8px;
    top: 10px;
}
/*Media Queries*/

@media screen and (max-width: 768px) {
    #home-nav.affix #collapser {
        display: block;
    }
    .btn {
        padding: 5px;
        margin-bottom: 13px;
    }
    #home .col-sm-3 p {
        display: none;
    }
    .title h1 {
        font-size: 42px;
    }
    .panel-title {
        font-size: 24px;
    }
    .subtitle h1 {
        font-size: 36px;
    }
    #home-nav .row {
        float: right;
        margin: ;
    }
    #home-nav.affix .row {
        position: absolute;
        right: 8px;
        top: 50px;
    }
    #home-nav .btn {
        float: right;
    }
    .contact-buttons .col-sm-3 {
        right: 0;
        text-align: right;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    #tech .container-fluid, #culture .container-fluid, #projects .container-fluid {
        padding: 30px 30px 30px 0px;
    }
    .bg-img, .body-bg-img {
        background-image: url(C:/Users/Sam/sspread.github.io/images/gBX6SQ.PNG);
        /*background-image: url(/images/gBX6SQ.png);*/
        background-size: auto;
        background-repeat: repeat;
    }
    .frosty {
        -webkit-filter: contrast(100%) blur(1px);
        -moz-filter: contrast(100%) blur(1px);
        -o-filter: contrast(100%) blur(1px);
        -ms-filter: contrast(100%) blur(1px);
        filter: contrast(100%) blur(1px);
    }
}
