/*table {width: 340px;}*/

table td {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #004600;
    color: #fffff0;
    box-shadow: 5px 5px 15px #50310e;
    border-radius: 18px;
}

td:hover, td:visited{background-color: red;}

th {
    font-size: 1.2em;
    text-align: center;
}


#joe {
    background-color: #990000 ;
    border-radius: 10px;
    margin-left: 10%;
    font-size: 1.3em;
    padding: 5%;
}

.game-head{display:table-row;}

#strike_spot {
    padding-left: 28%;
    padding-right: 0;
    text-align: center;
    font-size: 1.4em;
    margin: auto;
}
#grenades, #health {
    float: right;
}
#hide {
    font-weight: bold;
    font-size: 1.2em;
    width: 80px;
    margin: 0 5px;
    padding: 2%;
    height: 40px;
    color: #F0F0EB;
    background-color: #003D4C;
    border-radius: 8px;
}
#strike {
    font-weight: bold;
    padding: em;
}
.stats {
    padding: 0 1em;
    border: dashed #50310e 2px;
    font-weight: bold;
    width: 180px;
    margin: auto auto 1%;
    border-radius: 8px;
    float: right;
}
.directions li {
    padding: 0;
}
/*.container-fluid {
    margin: auto;
}*/

@media screen and (max-width: 600px){


.container-fluid{
	margin: auto;
	padding-bottom: 3%;
	padding-left: .5%;
	padding-right: .5%;
}

table td {
	height: 27px;
	width: 27px;
}

}
