

body 	{
	font-family: "Lucida Fax", serif;
	background-color: #FFFFF0;
	width: 930px;
	margin:auto;
	color: #50310e;
		}

h1, h2, h3, h4, h5, h6, header, footer {font-family: "Lucida Sans Unicode", sans-serif}

header{
	border-bottom: 3px solid #05058d;
	position: fixed;
	width: inherit;
	top:0;
	margin: auto;
	background-color: #FFFFF0;
	z-index: 1;
		}

#name 	{
	float: left;
	margin-left: 15px;
	padding-top: 0;
	font-size: 48px;
	color: #50310e;
		}

nav	{
	float: right;
	margin-top: 14px;
	font-size: 24px;
}

nav li a{
	display: block;
	padding-top:10px;
	padding-right:18px;
	padding-left:18px;
	padding-bottom: 8px;
	text-decoration: none;
	color:#50310e;
	font-weight: bold;
}

nav ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-right: -3px;
		}

nav li{float: left;}	

nav a:hover{
	color: #FFFFF0;
	background-color: #50310e;
	opacity: .8;
	border-radius: 10px;
		}

body#home a#homenav,
body#tech a#technav,
body#projects a#projectsnav,
body#culture a#culturenav {
	color: #FFFFF0;
	background-color: #50310e;
	opacity: .8;
	border-radius: 10px;
}


section{
	width:90%;
	color: #50310e;
	margin: 10% auto;
		}

article .text{
	width: 49%;
	margin: auto;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 3%;

}

p {text-align: justify;
}

article .image{
	width: 49%;
	color:inherit;
	margin: auto;
	padding-bottom: 3%;
	padding-left: .5%;
	padding-right: .5%;
}


.code {background-color: #F5DEB3;
	color: black;
	font-family: monospace;
	font-weight: bold;
	padding: 0 4px;
	margin: 0 3px;
}

.output{color: #8C1717;}


article {box-shadow: 4px 4px 15px #50310e;
		padding: 1%;}

.caption{
    display:inline-block;
    text-decoration:none;
    font-weight: bold;
    font-size: 13px;
    color: inherit;
		}

.blog_head h4{
	float: right;
	letter-spacing: 1px;
	margin: 0;
	margin-top: 1.2em;
			}

.blog_head h3{letter-spacing: 1px;
		margin: 0;
		margin-bottom: 1.2em;	
		margin-top: 1.2em;
		}

hr 		{
	background-color: inherit;
	height: 1px;
	border:none;
	margin: 50px 25px;
		}

article footer	{
	text-align: center;
	padding-bottom: .1em;
	font-size: .8em;
	width:100%;
	position: relative;
	bottom:0;
	left:0;
	opacity: .9;
		}

/*Media Queries*/

@media screen and (max-width: 600px){

body{
	width: auto;
}

header{
text-align: center;
position: relative;
width:98%;
}

section{
	width:95%;
	color: #50310e;
	margin: 10% auto;
		}

nav {
	float: none;
	text-align: center;
}

nav li{
	display: block;
	text-align: center;
	float: none;
}
nav ul {
	margin-bottom: .8em;	
	display: inline-block;
}

nav a {letter-spacing: 5px;}
#name{
	display: none;
}

article{
	padding: 2%;
}
article .text{
	width: 100%;
	margin: auto;
	vertical-align: top;
	padding-bottom: 3%;
}

p {text-align: justify;
}

article .image{
	width: 100%;
	color:inherit;
	margin: auto;
	vertical-align: top;
	padding-bottom: 3%;
	padding-left: .5%;
	padding-right: .5%;
}

.blog_head h4{
	float: none;
	letter-spacing: 2px;
	margin: 0;
	margin-top: 1.2em;
			}

.blog_head h3{letter-spacing: 2px;
		margin: 0;
		margin-bottom: 1.2em;	
		margin-top: 1.2em;
		}
}