body 	{
	font-family: "Lucida Fax", serif;
	/*background-color: #F5DEB3;*/
	width: 930px;
	margin:auto;
	background-color: #5C5C2E;

}

h1, h2, h3, h4, h5, h6, header, footer {font-family: "Lucida Sans Unicode", sans-serif}

article {box-shadow: 4px 4px 15px #1A1A00;
		padding: 1%;
		background-color: #F0F0EB; 
		border: 2px solid #00CCFF;
		border-radius: 5px;
		color: inherit;
}
header{
	border-bottom: 3px solid #008FB2;
	position: fixed;
	width: inherit;
	top:0;
	margin: auto;
	background-color: #C2C2AD;
	z-index: 1;
	box-shadow: 4px 4px 15px #1A1A00;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #003D4C;
}

#name 	{
	float: left;
	margin-left: 15px;
	padding-top: 0;
	font-size: 48px;
	color: 	inherit;
}

nav	{
	float: right;
	margin-top: 14px;
	font-size: 24px;
}

nav li a{
	display: block;
	padding-top:10px;
	padding-right:18px;
	padding-left:18px;
	padding-bottom: 8px;
	text-decoration: none;
	font-weight: bold;
}

nav ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-right: -3px;
}

nav li{float: left;
}	

header nav a:hover{
	color: #F0F0EB;
	background-color: #003D4C;
	opacity: .8;
	border-radius: 10px;
}

body#home a#homenav,
body#tech a#technav,
body#projects a#projectsnav,
body#culture a#culturenav {
	color: #F0F0EB;
	background-color: #003D4C;
	opacity: .8;
	border-radius: 10px;
}

nav a:visited{color: #003D4C;}
article a:visited{color:#1A1A00;}

article a {text-decoration: none;
	color: inherit;
}
section{
	width:90%;
	color: #1A1A00;
	margin: 10% auto;
}

article .text{
	width: 49%;
	margin: auto;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 3%;
}

.image_full{
	width: 85%;
	display: block;
	margin: auto;
}

p {text-align: justify;
}

article .image{
	width: 49%;
	color:inherit;
	margin: auto;
	padding-bottom: 3%;
	padding-left: .5%;
	padding-right: .5%;
}


.code {background-color: #FFFFFF;
	color: black;
	font-family: monospace;
	font-weight: bold;
	padding: 0 4px;
	margin: 0 3px;
	border: solid black .5px;
}

.output{color: #cf1717;}


.caption{
    display:inline-block;
    text-decoration:none;
    font-weight: bold;
    font-size: 13px;
    color: inherit;
}

.blog_head h4{
	float: right;
	letter-spacing: 1px;
	margin: 0;
	margin-bottom: .5em;
	margin-top: .5em;
	font-style: italic;
}

.blog_head h3{letter-spacing: 1px;
		margin: 0;
		margin-bottom: .5em;	
		margin-top: .5em;
}

hr	{
	background-color: inherit;
	height: 1px;
	border:none;
	margin: 12px 25px;
}

article footer	{
	text-align: center;
	padding-bottom: .1em;
	font-size: .8em;
	width:100%;
	position: relative;
	bottom:0;
	left:0;
	opacity: .9;
}


/*Media Queries*/

@media screen and (max-width: 600px){

body{
	width: auto;
}

header{
text-align: center;
position: relative;
top: 0;
width:98%;
}

section{
	width:95%;
	margin: 10% auto;
}

nav {
	float: none;
	text-align: center;
	margin: 0;
}

nav li{
	display: block;
	text-align: center;
	float: none;
}
nav ul {
	margin-bottom: .8em;	
	display: inline-block;
}

nav a {letter-spacing: 5px;}

#name{
	display: none;
}

article{
	padding: 2%;
}
article .text{
	width: 100%;
	margin: auto;
	vertical-align: top;
	padding-bottom: 3%;
}

p {text-align: justify;
}

article .image{
	width: 100%;
	color:inherit;
	margin: auto;
	vertical-align: top;
	padding-bottom: 3%;
	padding-left: .5%;
	padding-right: .5%;
}

.image_full{
	width: 100%;
}

.blog_head h4{
	float: none;
	letter-spacing: 2px;
	margin: 0;
	margin-top: 1.2em;
			}

.blog_head h3{letter-spacing: 2px;
		margin: 0;
		margin-bottom: 1.2em;	
		margin-top: 1.2em;
		}
}