body 	{
	font-family: "Lucida Sans Unicode", sans-serif;
	background-color: #fed564;
		}

#container{
	width: 86%;
	margin:auto;
	position: relative;
	background-color: #fef5df;
	
		}

a:hover{color: #Fd0d00;}

.caption{
    display:inline-block;
    text-decoration:none;
    color:#fef5df;
		}

#sidebar{
	width: 21%;
	color: #fef5df;
	text-align: center;
	float: left;
	background-color: #76310e;

		}

#sidebar img {width:100%;}

p 		{
	margin-left: 1em;
	margin-right: 1em;
		}

h1,h2,h3,h4 {margin-left: 8px;
}
#header	{
	background-color: #50310e;
	color: #fef5df;
	overflow: hidden;
		}

#content{
	float: right;
	width:79%;
	font-size: .875em;
	background-color: #fef5df;
		}

#footer	{
	clear: both;
	text-align: center;
	background-color: #50310e;
	color: #fef5df;
	padding-bottom: 1px;
	font-size: 13px;
		}

h3 		{letter-spacing: .125em;}

.wheat	{list-style-image:url(/images/wheat_bullet.jpg);}

li 		{line-height: 1.125em;}

#kernel	{
	float: right;
	padding-top: .5%;
	padding-left: 2%;
	padding-right: 3%;
	width: 267px;
		}

@media screen and (max-width: 800px) {
#kernel{width: 50%;}
}

@media screen and (max-width:605px){
#sidebar {font-size: .7em;}
#container {width: 100%}
	}

@media screen and (max-width:1092px){
	#sidebar {width: 30%;
}
	#content {width: 70%;}

@media screen and (max-width:440px){
#kernel {width:70%;
	float:none;
	margin:auto;
	display: block;}
}

@media screen and (max-width:968px){
#container {background-color: #76310e;}
}