body	{
	background: url(/unit1_projects/images/108a.jpg) no-repeat center fixed;
    background-size: cover;
	background-position: 100% 0px;
	font-family: "Beantown", "Lucida Sans Unicode", sans-serif;
	background-color: #0099ff;
		}

header{
	position: absolute;
	width:100%;
	left: 0;
	top: 25px;
	color: #ffecff;
	font-style: italic;
		}

#name 	{
	float: left;
	margin-left: 25px;
	padding-top: 0;
	font-size: 2.7em;
	color: inherit;
	letter-spacing: 2px;
	text-shadow: -5px -5px 7px #2E2E6C;
		}

nav	{
	float: right;
	font-size: 1.1em;
	letter-spacing: 2px;
	margin-right: 5px;
	text-align: bottom;
	text-shadow: 5px -5px 7px #002952;
}

nav li a{
	display: block;
	margin: 0;
	padding: 15px 20px;
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

nav ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-right: 15px;
		}

nav li{float: left;}	

nav a:hover{
	color: #002952 ;
	text-shadow: 0px 0px 15px #ffefff;
	}

@font-face {
	font-family: Beantown;
	src: url(/fonts/beantown/Beantown.ttf);
}

@media screen and (max-width: 1080px){

header {
	text-align: left;
}

#name{
	float: none;
	text-shadow: 0px -5px 7px #2E2E6C;
}

nav {
	text-align: left;
	float: left;
	clear:both;
	margin-left: 5px;
	text-shadow: -3px 0px 7px #2E2E6C;
}

nav ul {
	display: inline-block;
}

nav li{
	display: block;
	text-align: left;
	float: none;}	
}



@media screen and (max-width: 600px){
body	{
	background-image: url(/unit1_projects/images/108a_mobile.jpg);
	background-size: 100%;
	background-position: right top;
}

#name{
	text-shadow: 5px -5px 7px #2E2E6C;
	t
	}

nav {
	text-align: left;
	float: left;
	clear:both;
	text-shadow: 2px -3px 7px #2E2E6C;
}
}
