body	{
	background: url(/unit1_projects/images/sailing.jpg) no-repeat center fixed;
	background-size: cover;

	font-family: "Lucida Sans Unicode", sans-serif;
	background-color: #99ccff;
		}

#headline{
	border-bottom: 3px solid #05058d;
	position: absolute;
	width:100%;
	top: 25px;
	left:0;
		}

#name 	{
	float: left;
	padding-left: 15px;
	padding-top: 0;
	font-size: 48px;
	color: #50310e;
		}

#nav	{
	float: right;
	margin-top: 14px;
	font-size: 24px;
}

#nav li a{
	display: block;
	padding-top:10px;
	padding-right:18px;
	padding-left:18px;
	padding-bottom: 8px;
	text-decoration: none;
	color:#50310e;
	font-weight: bold;
}

#nav ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-right: 15px;
		}

#nav li{float: left;}	

#nav a:hover{
	color: #fef5df;
	background-color: #50310e;
	background-size: 100% 100%;
		}

/*#footer	{
	text-align: center;
	background-color: #50310e;
	color: #fef5df;
	padding-bottom: 1px;
	font-size: 13px;
	width:100%;
	position: absolute;
	bottom:0;
	left:0;
	opacity: .9;
		}
*/

@media screen and (max-width: 925px){
body {background-size: auto;
	background-position: 50% 80%;}
#headline {
	text-align: right;
	top: 0px;
}
#name{
	float: none;
	margin-right: 15px;
}

#nav {
	float: none;
	text-align: right;
}

#nav ul {
	display: inline-block;
}

}
/*C:/Users/Sam/sspread.github.io*/

@media screen and (max-width: 600px){
body	{
	background-image: url(/unit1_projects/images/sailing2.jpg);
	background-size: auto;
	background-position: 50% 80%;
}

#name{
float: right;
margin-right: 10px;

}

#headline{
text-align: right;
border: none;
}

#nav	{
	float: right;
	margin-top: 20px;
	clear:both;
}

#nav li{
	display: block;
	text-align: right;
	float: none;}	
}